@import "./_main.scss";

// Genes
$gene-opacity : 0.6;

//
// ELEMENTS
//
//
svg {
    text {
        -webkit-user-select: none;
        /* Chrome/Safari */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* IE10+ */
        cursor: default;
    }
}

.tnt_groupDiv {
    position : relative;
    margin : 0px 3px 5px 3px;
}

rect {
    &.tnt_pane {
        cursor : move;
        opacity : 0;
        pointer-events : all;

        @include transition(opacity, 1s);
    }
    &.tnt_dark_pane {
        opacity : 0.4;
    }
}

text {
    &.tnt_wideOK_text {
        font-family:Impact, Charcoal, sans-serif;
        font-size  : 2em;
        cursor : move;
        opacity : 0;

        @include transition(opacity, 1s);
    }
    &.tnt_tooWide_text {
        opacity : 1;
    }
}

.tnt_gene {
    filter: alpha(opacity=$gene-opacity);
}


// The tooltip for gene info
div {
    .tnt_tooltip {
        display  : block;
        position : absolute;
        top      : 0px;
        opacity  : 0;
        border   : 2px solid;
        background-color : #FFFFFF;
        @include small-font;

        h1 {
            font-size : 30px;
        }

        .link {
            color : blue;

            &:hover {
                cursor : pointer;
            }
        }

    }
    .tnt_tooltip_active {
        opacity : 1;
        z-index : 1001;
    }
}

.tnt_zmenu {
    @include tiny-font;
    // width : 180px;
    border-style : solid;
    border-collapse : collapse;
    th, td {
        padding-top : 5px;
        padding-right : 5px;
        padding-left : 5px;
        padding-bottom : 5px;
        white-space : normal;
        text-align : left;
        vertical-align : top;
        font-size : 12px;
    }
    th {
        cursor : move;
    }
    th:active {
        cursor : move;
    }

}

.tnt_track path,
.tnt_track line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.tnt_elem {
    stroke-width: 2;
}
.tnt_elem line {
    stroke-width: 2;
}

.tick text {
    @include tiny-font;
}


.tnt_locRow {
    margin : 8px 0px 5px 5px;
    span {
        @include small-font;
    }
}

.tnt_name {
    @include small-font;
}

.tnt_framed {
    border : 2px solid;
    @include round-borders (20px);
}
